El fichero [`cotizacion.csv`](cotizacion.csv) contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: `nombre` (nombre de la empresa), `Final` (precio de la acción al cierre de bolsa), `Máximo` (precio máximo de la acción durante la jornada), `Mínimo` (precio mínimo de la acción durante la jornada), `volumen` (Volumen al cierre de bolsa), `Efectivo` (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir de un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de cada columna.

In [92]:
import pandas as pd

Limpieza de datos

In [93]:
archivo_csv = 'Z001_cotizacion.csv'
df = pd.read_csv(archivo_csv, sep =';')
df = pd.DataFrame(df)
print(df)
df.columns

          Nombre   Final  Máximo  Mínimo     Volumen   Efectivo
0        ACCIONA   95,95   96,75    94,4      84.962    8166,11
1       ACERINOX    8668    8672    8468      885.99    7633,81
2            ACS   37,28   37,66   37,22     655.982   24517,29
3           AENA   167,1   167,5   166,1     133.738   22336,10
4        AMADEUS   69,96   70,64   69,56     640.476   44795,47
5    ARCELORMIT.   14152   14318   14,08     702.841    9989,65
6    BA.SABADELL  1,0165    1033  1,0165  12.358.512   12637,65
7   BA.SANTANDER    4,02  4,0675    4,01  36.129.692  145765,44
8         BANKIA    2249    2262    2224   3.024.454    6803,54
9      BANKINTER    6,56    6604    6522   1.375.976    9030,20
10          BBVA    5024    5,05    4969  26.447.612  132560,15
11     CAIXABANK    2763    2806    2762  13.031.097   36239,22
12       CELLNEX   30,17    30,7   30,17     857.237   25965,29
13  CIE AUTOMOT.   23,44   23,74    23,4      99.506    2343,09
14        ENAGAS    25,6   25,66   25,07      842.54   21524,77
15          ENCE    3882    3974    3846   2.099.698    8219,83
16        ENDESA   22,95   23,03   22,62   1.236.799   28233,46
17     FERROVIAL   21,61   21,72   21,38   2.065.931   44656,05
18  GRIFOLS CL.A    23,3    23,6   23,27     719.503   16787,55
19           IAG     5,3    5,46    5292   2.155.081   11561,95
20     IBERDROLA    8,45    8,45    8262  15.637.958  131426,05
21       INDITEX   24,93   25,19   24,87   2.600.144   65012,92
22       INDRA A    9,56    9685    9535      392.06    3755,57
23  INM.COLONIAL    9915    9915    9745     671.753    6640,38
24        MAPFRE    2654    2654    2,62   3.045.972    8063,13
25      MEDIASET    6446    6592    6446   2.647.557   17277,04
26  MELIA HOTELS    8,14    8,19    8,02      480.21    3914,93
27        MERLIN   12,08   12,08   11,83     777.543    9357,77
28       NATURGY    26,7   26,77   26,53   2.100.737   55986,54
29        R.E.C.   19705   19875   19675   1.246.171   24585,33
30        REPSOL   14515   14605   14,46   5.046.648   73333,78
31  SIEMENS GAME   14,33   14,39   14155   1.054.847   15084,56
32  TEC.REUNIDAS      23    23,2   22,78       122.1    2807,19
33    TELEFONICA    7204    7256    7185   9.913.249   71564,99
34      VISCOFAN   48,46   49,12   48,46       67.71    3295,43

Index(['Nombre', 'Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo'], dtype='object')

In [94]:
#primero hay que reemplazar los "." por nada, simplemente hay que eliminarlos en la columna volumen
df['Volumen'] = df['Volumen'].str.replace('.','')
df

C:\Users\Geralt\AppData\Local\Temp\ipykernel_8484\2265356496.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Volumen'] = df['Volumen'].str.replace('.','')

          Nombre   Final  Máximo  Mínimo   Volumen   Efectivo
0        ACCIONA   95,95   96,75    94,4     84962    8166,11
1       ACERINOX    8668    8672    8468     88599    7633,81
2            ACS   37,28   37,66   37,22    655982   24517,29
3           AENA   167,1   167,5   166,1    133738   22336,10
4        AMADEUS   69,96   70,64   69,56    640476   44795,47
5    ARCELORMIT.   14152   14318   14,08    702841    9989,65
6    BA.SABADELL  1,0165    1033  1,0165  12358512   12637,65
7   BA.SANTANDER    4,02  4,0675    4,01  36129692  145765,44
8         BANKIA    2249    2262    2224   3024454    6803,54
9      BANKINTER    6,56    6604    6522   1375976    9030,20
10          BBVA    5024    5,05    4969  26447612  132560,15
11     CAIXABANK    2763    2806    2762  13031097   36239,22
12       CELLNEX   30,17    30,7   30,17    857237   25965,29
13  CIE AUTOMOT.   23,44   23,74    23,4     99506    2343,09
14        ENAGAS    25,6   25,66   25,07     84254   21524,77
15          ENCE    3882    3974    3846   2099698    8219,83
16        ENDESA   22,95   23,03   22,62   1236799   28233,46
17     FERROVIAL   21,61   21,72   21,38   2065931   44656,05
18  GRIFOLS CL.A    23,3    23,6   23,27    719503   16787,55
19           IAG     5,3    5,46    5292   2155081   11561,95
20     IBERDROLA    8,45    8,45    8262  15637958  131426,05
21       INDITEX   24,93   25,19   24,87   2600144   65012,92
22       INDRA A    9,56    9685    9535     39206    3755,57
23  INM.COLONIAL    9915    9915    9745    671753    6640,38
24        MAPFRE    2654    2654    2,62   3045972    8063,13
25      MEDIASET    6446    6592    6446   2647557   17277,04
26  MELIA HOTELS    8,14    8,19    8,02     48021    3914,93
27        MERLIN   12,08   12,08   11,83    777543    9357,77
28       NATURGY    26,7   26,77   26,53   2100737   55986,54
29        R.E.C.   19705   19875   19675   1246171   24585,33
30        REPSOL   14515   14605   14,46   5046648   73333,78
31  SIEMENS GAME   14,33   14,39   14155   1054847   15084,56
32  TEC.REUNIDAS      23    23,2   22,78      1221    2807,19
33    TELEFONICA    7204    7256    7185   9913249   71564,99
34      VISCOFAN   48,46   49,12   48,46      6771    3295,43

In [95]:
# ahora las "," hay que cambiarlas a "." .Para las columnas Final, Máximo, Mínimo y Efectivo

df['Final'] = df['Final'].str.replace(',','.')
df['Máximo'] = df['Máximo'].str.replace(',','.')
df['Mínimo'] = df['Mínimo'].str.replace(',','.')
df['Efectivo'] = df['Efectivo'].str.replace(',','.')

df

          Nombre   Final  Máximo  Mínimo   Volumen   Efectivo
0        ACCIONA   95.95   96.75    94.4     84962    8166.11
1       ACERINOX    8668    8672    8468     88599    7633.81
2            ACS   37.28   37.66   37.22    655982   24517.29
3           AENA   167.1   167.5   166.1    133738   22336.10
4        AMADEUS   69.96   70.64   69.56    640476   44795.47
5    ARCELORMIT.   14152   14318   14.08    702841    9989.65
6    BA.SABADELL  1.0165    1033  1.0165  12358512   12637.65
7   BA.SANTANDER    4.02  4.0675    4.01  36129692  145765.44
8         BANKIA    2249    2262    2224   3024454    6803.54
9      BANKINTER    6.56    6604    6522   1375976    9030.20
10          BBVA    5024    5.05    4969  26447612  132560.15
11     CAIXABANK    2763    2806    2762  13031097   36239.22
12       CELLNEX   30.17    30.7   30.17    857237   25965.29
13  CIE AUTOMOT.   23.44   23.74    23.4     99506    2343.09
14        ENAGAS    25.6   25.66   25.07     84254   21524.77
15          ENCE    3882    3974    3846   2099698    8219.83
16        ENDESA   22.95   23.03   22.62   1236799   28233.46
17     FERROVIAL   21.61   21.72   21.38   2065931   44656.05
18  GRIFOLS CL.A    23.3    23.6   23.27    719503   16787.55
19           IAG     5.3    5.46    5292   2155081   11561.95
20     IBERDROLA    8.45    8.45    8262  15637958  131426.05
21       INDITEX   24.93   25.19   24.87   2600144   65012.92
22       INDRA A    9.56    9685    9535     39206    3755.57
23  INM.COLONIAL    9915    9915    9745    671753    6640.38
24        MAPFRE    2654    2654    2.62   3045972    8063.13
25      MEDIASET    6446    6592    6446   2647557   17277.04
26  MELIA HOTELS    8.14    8.19    8.02     48021    3914.93
27        MERLIN   12.08   12.08   11.83    777543    9357.77
28       NATURGY    26.7   26.77   26.53   2100737   55986.54
29        R.E.C.   19705   19875   19675   1246171   24585.33
30        REPSOL   14515   14605   14.46   5046648   73333.78
31  SIEMENS GAME   14.33   14.39   14155   1054847   15084.56
32  TEC.REUNIDAS      23    23.2   22.78      1221    2807.19
33    TELEFONICA    7204    7256    7185   9913249   71564.99
34      VISCOFAN   48.46   49.12   48.46      6771    3295.43

In [96]:
# por ahora sólo nos interesan los datos, por lo que eliminaremos la columna de nombres

df = df.drop('Nombre',axis=1)
df

     Final  Máximo  Mínimo   Volumen   Efectivo
0    95.95   96.75    94.4     84962    8166.11
1     8668    8672    8468     88599    7633.81
2    37.28   37.66   37.22    655982   24517.29
3    167.1   167.5   166.1    133738   22336.10
4    69.96   70.64   69.56    640476   44795.47
5    14152   14318   14.08    702841    9989.65
6   1.0165    1033  1.0165  12358512   12637.65
7     4.02  4.0675    4.01  36129692  145765.44
8     2249    2262    2224   3024454    6803.54
9     6.56    6604    6522   1375976    9030.20
10    5024    5.05    4969  26447612  132560.15
11    2763    2806    2762  13031097   36239.22
12   30.17    30.7   30.17    857237   25965.29
13   23.44   23.74    23.4     99506    2343.09
14    25.6   25.66   25.07     84254   21524.77
15    3882    3974    3846   2099698    8219.83
16   22.95   23.03   22.62   1236799   28233.46
17   21.61   21.72   21.38   2065931   44656.05
18    23.3    23.6   23.27    719503   16787.55
19     5.3    5.46    5292   2155081   11561.95
20    8.45    8.45    8262  15637958  131426.05
21   24.93   25.19   24.87   2600144   65012.92
22    9.56    9685    9535     39206    3755.57
23    9915    9915    9745    671753    6640.38
24    2654    2654    2.62   3045972    8063.13
25    6446    6592    6446   2647557   17277.04
26    8.14    8.19    8.02     48021    3914.93
27   12.08   12.08   11.83    777543    9357.77
28    26.7   26.77   26.53   2100737   55986.54
29   19705   19875   19675   1246171   24585.33
30   14515   14605   14.46   5046648   73333.78
31   14.33   14.39   14155   1054847   15084.56
32      23    23.2   22.78      1221    2807.19
33    7204    7256    7185   9913249   71564.99
34   48.46   49.12   48.46      6771    3295.43

In [97]:
df.dtypes # Los datos son de tipo object, por lo que deben ser cambiados a datos numéricos

Final       object
Máximo      object
Mínimo      object
Volumen     object
Efectivo    object
dtype: object

In [98]:
df['Final'] = pd.to_numeric(df['Final'], errors='coerce')
df['Máximo'] = pd.to_numeric(df['Máximo'], errors='coerce')
df['Mínimo'] = pd.to_numeric(df['Mínimo'], errors='coerce')
df['Volumen'] = pd.to_numeric(df['Volumen'], errors='coerce')
df['Efectivo'] = pd.to_numeric(df['Efectivo'], errors='coerce')
df.dtypes # ahora los datos sí son de tipo numérico

Final       float64
Máximo      float64
Mínimo      float64
Volumen       int64
Efectivo    float64
dtype: object

In [100]:
# Ahora sí podemos crear la función
def function():
    df_statistics = pd.DataFrame({'Mínimo':df.min(),'Máximo':df.max(),'Medias':df.mean()}) 
    print(df_statistics)


if __name__ == '__main__':
    function()

             Mínimo       Máximo        Medias
Final        1.0165     19705.00  2.796769e+03
Máximo       4.0675     19875.00  3.170113e+03
Mínimo       1.0165     19675.00  3.136510e+03
Volumen   1221.0000  36129692.00  4.252279e+06
Efectivo  2343.0900    145765.44  3.176778e+04