El fichero [titanic.csv](titanic.csv) contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.
3. Mostrar por pantalla los datos del pasajero con identificador 148.
3. Mostrar por pantalla las filas pares del DataFrame.
4. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
6. Eliminar del DataFrame los pasajeros con edad desconocida.
7. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
8.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
9.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [1]:
import pandas as pd

### 1.

In [4]:
df = pd.read_csv('Z002_titanic.csv') 
#document = pd.DataFrame(document) 
print(type(document))

<class 'pandas.core.frame.DataFrame'>

### 2.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [9]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### 3.

In [17]:
df.loc[147]

PassengerId                                 148
Survived                                      0
Pclass                                        3
Name           Ford, Miss. Robina Maggie "Ruby"
Sex                                      female
Age                                         9.0
SibSp                                         2
Parch                                         2
Ticket                               W./C. 6608
Fare                                     34.375
Cabin                                       NaN
Embarked                                      S
Name: 147, dtype: object

### 4.

In [31]:
for i in range(0,890):
    if i%2 == 0:
        print(df.loc[i+1])

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                    35.0
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
PassengerId                                 8
Survived                                    0
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                       2.0
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object
PassengerId                                     10
Survived                                         1
Pclass                                           2
Name           Nasser, Mrs. Nicholas (Adele Achem)
Sex                                         female
Age                                           14.0
SibSp                                            1
Parch                                            0
Ticket                                      237736
Fare                                       30.0708
Cabin                                          NaN
Embarked                                         C
Name: 9, dtype: object
PassengerId                          12
Survived                              1
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                58.0
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object
PassengerId                             14
Survived                                 0
Pclass                                   3
Name           Andersson, Mr. Anders Johan
Sex                                   male
Age                                   39.0
SibSp                                    1
Parch                                    5
Ticket                              347082
Fare                                31.275
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object
PassengerId                                  16
Survived                                      1
Pclass                                        2
Name           Hewlett, Mrs. (Mary D Kingcome)
Sex                                      female
Age                                        55.0
SibSp                                         0
Parch                                         0
Ticket                                   248706
Fare                                       16.0
Cabin                                       NaN
Embarked                                      S
Name: 15, dtype: object
PassengerId                              18
Survived                                  1
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                   13.0
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object
PassengerId                         20
Survived                             1
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object
PassengerId                       22
Survived                           1
Pclass                             2
Name           Beesley, Mr. Lawrence
Sex                             male
Age                             34.0
SibSp                              0
Parch                              0
Ticket                        248698
Fare                            13.0
Cabin                            D56
Embarked                           S
Name: 21, dtype: object
PassengerId                              24
Survived                                  1
Pclass                                    1
Name           Sloper, Mr. William Thompson
Sex                                    male
Age                                    28.0
SibSp                                     0
Parch                                     0
Ticket                               113788
Fare                                   35.5
Cabin                                    A6
Embarked                                  S
Name: 23, dtype: object
PassengerId                                                   26
Survived                                                       1
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object
PassengerId                                28
Survived                                    0
Pclass                                      1
Name           Fortune, Mr. Charles Alexander
Sex                                      male
Age                                      19.0
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                    263.0
Cabin                             C23 C25 C27
Embarked                                    S
Name: 27, dtype: object
PassengerId                     30
Survived                         0
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object
PassengerId                                                32
Survived                                                    1
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                 146.5208
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object
PassengerId                       34
Survived                           0
Pclass                             2
Name           Wheadon, Mr. Edward H
Sex                             male
Age                             66.0
SibSp                              0
Parch                              0
Ticket                    C.A. 24579
Fare                            10.5
Cabin                            NaN
Embarked                           S
Name: 33, dtype: object
PassengerId                                36
Survived                                    0
Pclass                                      1
Name           Holverson, Mr. Alexander Oskar
Sex                                      male
Age                                      42.0
SibSp                                       1
Parch                                       0
Ticket                                 113789
Fare                                     52.0
Cabin                                     NaN
Embarked                                    S
Name: 35, dtype: object
PassengerId                          38
Survived                              0
Pclass                                3
Name           Cann, Mr. Ernest Charles
Sex                                male
Age                                21.0
SibSp                                 0
Parch                                 0
Ticket                       A./5. 2152
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 37, dtype: object
PassengerId                             40
Survived                                 1
Pclass                                   3
Name           Nicola-Yarred, Miss. Jamila
Sex                                 female
Age                                   14.0
SibSp                                    1
Parch                                    0
Ticket                                2651
Fare                               11.2417
Cabin                                  NaN
Embarked                                 C
Name: 39, dtype: object
PassengerId                                                   42
Survived                                                       0
Pclass                                                         2
Name           Turpin, Mrs. William John Robert (Dorothy Ann ...
Sex                                                       female
Age                                                         27.0
SibSp                                                          1
Parch                                                          0
Ticket                                                     11668
Fare                                                        21.0
Cabin                                                        NaN
Embarked                                                       S
Name: 41, dtype: object
PassengerId                                          44
Survived                                              1
Pclass                                                2
Name           Laroche, Miss. Simonne Marie Anne Andree
Sex                                              female
Age                                                 3.0
SibSp                                                 1
Parch                                                 2
Ticket                                    SC/Paris 2123
Fare                                            41.5792
Cabin                                               NaN
Embarked                                              C
Name: 43, dtype: object
PassengerId                          46
Survived                              0
Pclass                                3
Name           Rogers, Mr. William John
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                  S.C./A.4. 23567
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 45, dtype: object
PassengerId                           48
Survived                               1
Pclass                                 3
Name           O'Driscoll, Miss. Bridget
Sex                               female
Age                                  NaN
SibSp                                  0
Parch                                  0
Ticket                             14311
Fare                                7.75
Cabin                                NaN
Embarked                               Q
Name: 47, dtype: object
PassengerId                                               50
Survived                                                   0
Pclass                                                     3
Name           Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Sex                                                   female
Age                                                     18.0
SibSp                                                      1
Parch                                                      0
Ticket                                                349237
Fare                                                    17.8
Cabin                                                    NaN
Embarked                                                   S
Name: 49, dtype: object
PassengerId                              52
Survived                                  0
Pclass                                    3
Name           Nosworthy, Mr. Richard Cater
Sex                                    male
Age                                    21.0
SibSp                                     0
Parch                                     0
Ticket                           A/4. 39886
Fare                                    7.8
Cabin                                   NaN
Embarked                                  S
Name: 51, dtype: object
PassengerId                                                   54
Survived                                                       1
Pclass                                                         2
Name           Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
Sex                                                       female
Age                                                         29.0
SibSp                                                          1
Parch                                                          0
Ticket                                                      2926
Fare                                                        26.0
Cabin                                                        NaN
Embarked                                                       S
Name: 53, dtype: object
PassengerId                   56
Survived                       1
Pclass                         1
Name           Woolner, Mr. Hugh
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                     19947
Fare                        35.5
Cabin                        C52
Embarked                       S
Name: 55, dtype: object
PassengerId                     58
Survived                         0
Pclass                           3
Name           Novel, Mr. Mansouer
Sex                           male
Age                           28.5
SibSp                            0
Parch                            0
Ticket                        2697
Fare                        7.2292
Cabin                          NaN
Embarked                         C
Name: 57, dtype: object
PassengerId                                    60
Survived                                        0
Pclass                                          3
Name           Goodwin, Master. William Frederick
Sex                                          male
Age                                          11.0
SibSp                                           5
Parch                                           2
Ticket                                    CA 2144
Fare                                         46.9
Cabin                                         NaN
Embarked                                        S
Name: 59, dtype: object
PassengerId                     62
Survived                         1
Pclass                           1
Name           Icard, Miss. Amelie
Sex                         female
Age                           38.0
SibSp                            0
Parch                            0
Ticket                      113572
Fare                          80.0
Cabin                          B28
Embarked                       NaN
Name: 61, dtype: object
PassengerId                       64
Survived                           0
Pclass                             3
Name           Skoog, Master. Harald
Sex                             male
Age                              4.0
SibSp                              3
Parch                              2
Ticket                        347088
Fare                            27.9
Cabin                            NaN
Embarked                           S
Name: 63, dtype: object
PassengerId                          66
Survived                              1
Pclass                                3
Name           Moubarek, Master. Gerios
Sex                                male
Age                                 NaN
SibSp                                 1
Parch                                 1
Ticket                             2661
Fare                            15.2458
Cabin                               NaN
Embarked                              C
Name: 65, dtype: object
PassengerId                          68
Survived                              0
Pclass                                3
Name           Crease, Mr. Ernest James
Sex                                male
Age                                19.0
SibSp                                 0
Parch                                 0
Ticket                        S.P. 3464
Fare                             8.1583
Cabin                               NaN
Embarked                              S
Name: 67, dtype: object
PassengerId                   70
Survived                       0
Pclass                         3
Name           Kink, Mr. Vincenz
Sex                         male
Age                         26.0
SibSp                          2
Parch                          0
Ticket                    315151
Fare                      8.6625
Cabin                        NaN
Embarked                       S

In [27]:
1%2

1